								<div id="mc_embed_signup">
								<ul class="actions vertical">
									<form action="//backcountrywok.us16.list-manage.com/subscribe/post?u=7b974cbe9913ef445068357e6&amp;id=7e951b1e1b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="name" id="mce-NAME" value="" placeholder="Name" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="email" name="email" id="mce-EMAIL" value="" placeholder="Email" />
											</div>

													<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
													<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7b974cbe9913ef445068357e6_7e951b1e1b" tabindex="-1" value=""></div>
													<center><div class="12u$"><input type="submit" value="sign me up" name="Sign me up" id="mc-embedded-subscribe" class="button"></div>
													</center>
												</div>
												</form>
												</div>

												</ul>
											</div>
										</div>
									</form>
								</ul>
							</div>
